*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.training-wrapper {
  padding: 40px 20px;
  max-width: 1300px;
  margin: auto;
  background: #f5f7fa;
  /* min-height: 100vh; */
  font-family: sans-serif;
}

.training-heading {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #0a3d62;
}

.training-text {
  text-align: center;
  color: #555;
  font-size: 18px;
  margin-bottom: 35px;
}

.training-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 28px;
}


.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.media-card {
  background: #fff;
  border-radius: 15px;
  height: 70vh;
  overflow: hidden;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
  transition: 0.3s;
}
.video-card{

  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
  transition: 0.3s;
}
.media-card:hover {
  transform: translateY(-6px);
}

.media-img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}


.media-video {
  width: 100%;
  height: 280px;
  object-fit: cover;
  background: black;
  margin-bottom: -10px;
}

.media-content {
  padding: 15px;
}

.media-content h3 {
  font-size: 20px;
  color: #1e5799;
  margin-bottom: 6px;
}

.media-content p {
  color: #444;
  line-height: 1.5;
  font-size: 15px;
}


.no-data {
  text-align: center;
  font-size: 20px;
  color: #777;
}
