
.contact-wrapper {
  padding: 60px 25px;
  max-width: 1200px;
  margin: auto;
  font-family: "Poppins", sans-serif;
}

.contact-heading {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.contact-subheading {
  text-align: center;
  font-size: 18px;
  color: #555;
  margin-bottom: 40px;
}

.contact-card {
  display: flex;
  gap: 30px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 25px;
  transition: 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
}


.contact-image {
  width: 40%;
  height: 330px;
  border-radius: 15px;
  object-fit: contain;
}

.contact-content {
  flex: 1;
}

.contact-title {
  font-size: 25px;
  font-weight: 600;
  color: #222;
}

.contact-sub {
  margin-top: 5px;
  font-size: 17px;
  color: #444;
}

/* INFO */
.contact-info {
  margin-top: 25px;
}

.info-box {
  margin-bottom: 18px;
}

.info-box h3 {
  margin: 0;
  font-size: 20px;
  color: #222;
}

.coach-name {
  font-size: 17px;
   margin-top: 4px;
  color: #555;
}

.contact-number {
    margin-top: 4px;
  font-size: 17px;
  /* font-weight: bold; */
  /* color: #e63946; */
}

/* CALL BUTTON */
.contact-btn {
  margin-top: 20px;
  background: #e63946;
  color: white;
  padding: 12px 26px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease;
}

.contact-btn:hover {
  background: #cc2f3a;
}

/* MAP */
.map-section {
  margin-top: 60px;
}

.map-heading {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.map-iframe {
  width: 100%;
  height: 380px;
  border: none;
  border-radius: 18px;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.15);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contact-card {
    flex-direction: column;
  }

  .contact-image {
    width: 100%;
    height: 250px;
  }
}
